.animate-charcter {
    text-transform: uppercase;
    background-image: $textTravelixGradient;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}