$whiteColor: #fff;
$blackColor: #000000;
$blueColorLogin: #03e9f4;
$headerDashboard: #1f2937;
$bgSearchInput: #111827;
$textSearchInput: #9299a5;
$textTravelixGradient: linear-gradient(-225deg, #b1acc5 0%, #9e6fcf 29%, #ff1361 67%, #fff800 100%);
$textHoverMenu: #9e6fcf;
$sidebarColor: #2f3840;
$primary: #EB1616;
$secondary: #191C24;
$light: #6C7293;
$dark: #000000;